<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qiangdong.reader.dao.UserApplyMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.qiangdong.reader.entity.UserApply">
        <id column="id" property="id" />
        <result column="user_id" property="userId" />
        <result column="apply_type" property="applyType" />
        <result column="apply_reason" property="applyReason" />
        <result column="apply_status" property="applyStatus" />
        <result column="create_at" property="createAt" />
        <result column="update_at" property="updateAt" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, user_id, apply_type, apply_reason, apply_status, create_at, update_at
    </sql>

</mapper>
