<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qiangdong.reader.dao.WithdrawRecordMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.qiangdong.reader.entity.WithdrawRecord">
        <id column="id" property="id" />
        <result column="user_id" property="userId" />
        <result column="money" property="money" />
        <result column="create_at" property="createAt" />
        <result column="update_at" property="updateAt" />
        <result column="deleted" property="deleted" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, user_id, money, create_at, update_at, deleted
    </sql>

    <select id="findByUserId" resultType="com.qiangdong.reader.dto.WithdrawRecordDto">
        select
            wr.id,
            wr.user_id,
            wr.money,
            wr.create_at,
            u.nickname as authorName
        from withdraw_record wr
        inner join user u on wr.user_id = u.id
        where wr.user_id = #{userId} and wr.deleted = 0
    </select>
</mapper>
