<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qiangdong.reader.dao.WorksTagMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.qiangdong.reader.entity.WorksTag">
        <id column="id" property="id" />
        <result column="works_id" property="worksId" />
        <result column="works_type" property="worksType" />
        <result column="tag_name" property="tagName" />
        <result column="create_at" property="createAt" />
        <result column="update_at" property="updateAt" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, works_id, works_type, tag_name, create_at, update_at
    </sql>

    <insert id="saveAll" parameterType="java.util.List">
        insert into works_tag
        (id, works_id, works_type, tag_name, group_name, create_at, update_at)
        values
        <foreach collection ="list" item="item" index= "index" separator =",">
        (
            #{item.id},
            #{item.worksId},
            #{item.worksType},
            #{item.tagName},
            #{item.groupName},
            #{item.createAt},
            #{item.updateAt}
        )
        </foreach >
    </insert>

</mapper>
